/* define base colors: background, color, background_1, color_1 */

:root {
  --background: #f0f0f0;
  --color: #333333;
  --background_1: #e0f7e9;
  --color_1: #222222;
  --light_control_primary: #c7c7c7;
  --light_control_secondary: #6c6c6c;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  margin-block: 60px;
  margin-inline: 0px;
  background-color: var(--background);
}

svg {
  display: block;
  margin: auto;
}

.header, .footer {
  background: var(--color);
  color: var(--background);
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
}
h2 {
  text-align: center;
  margin-block: 8px 10px;
}

.footer {
  position: fixed;
  padding-block: 5px 5px;
  bottom: 0;
  width: 100%;
}

.footer-svg-foreground {
  fill: var(--background);
}

.settings_panel {
  position: fixed;
  top: 42px;
  left: 10px;
  padding: 10px;
  font-size: 9px;
  display: flex;
  flex-direction: column;
}

.settings_widget {
  padding: 6px;
  margin: 6px;
  font-family: monospace;
  border-radius: 6px;
  background-color: var(--background_1);
}

.train_info {
  position: fixed;
  top: 42px;
  right: 10px;
  padding: 10px;
  font-size: 9px;
  display: flex;
  flex-direction: column;
}

.train_info_entry {
  color: black;
  min-width: 170px;
  padding: 6px;
  margin: 6px;
  border-radius: 6px;
  font-family: monospace;
  text-align: center;
  opacity: 0.85;
}

.train_info_entry:hover {
  opacity: 1;
  transition: 0.2s;
}

.train_info_header {
  font-size: 12px;
  font-weight: bold;
}

{{TRAIN_INFO_STYLE}}

.background{fill:var(--background)}
.no-fill{fill:none;}
.railroad-tie{fill:#978679;}
.railroad{fill:#3D3D3D;}
.train-outline{fill:#cdcdcd;}
.train-window{fill:#444444;}
.train-roof{fill:#5b5a5a;}
.train-headlights{fill:#fbfbfb;}
{{TRAIN_FILL_COLORS}}
.tree-1{fill:#8B5420;}
.tree-2{fill:#A8642A;}
.tree-3{fill:#80983C;}
.tree-4{fill:#84A83E;}
.tree-5{fill:#5DAD61;}
.tree-6{fill:#418050;}
.train:hover .train_background {
  stroke-opacity:1;
  transition: 0.2s;
}
.train:hover rect.train_legend_background {
  fill-opacity: 0.3;
  transition: 0.2s;
}
.cell:hover text {
    opacity: 1.0;
    transition: 0.2s;
}
.cell:hover rect, .row_label:hover rect, .col_label:hover rect {
    fill-opacity: 0.3;
    transition: 0.2s;
}
.train_rotation {
  transform-box: fill-box;
}

.train_signal {
  opacity: 0;
}
.green_light, .red_light {
  opacity: 0.2;
}
.train_signal.red, .train_signal.green {
  opacity: 1;
}
.train_signal.red .red_light {
  opacity: 1;
}
.train_signal.green .green_light {
  opacity: 1;
}

{{TRAIN_HOVER_STYLE}}


.slider-path {
  stroke: var(--light_control_secondary);
}

.slider-handle {
  cursor: pointer;
  fill: var(--background);
  stroke: var(--light_control_primary);
}


.button rect {
  fill: var(--light_control_secondary);
  fill-opacity: 0.9;
  stroke: var(--light_control_primary);
  stroke-width: 1;
  stroke-opacity: 0;
  cursor: pointer;
}

.button rect {
  fill: var(--light_control_secondary);
  fill-opacity: 0.9;
  stroke: var(--light_control_primary);
  stroke-width: 1;
  stroke-opacity: 0;
  cursor: pointer;
}

.fill-button path {
  fill: var(--background);
  fill-opacity: 0.8;
  cursor: pointer;
}

.stroke-button path {
  stroke: var(--background);
  stroke-opacity: 0.8;
  fill: none;
  cursor: pointer;
}

.button:hover rect {
  stroke-opacity: .3;
  fill-opacity: .15;
  transition: .2s;
}

.active rect, .button:active rect {
  stroke-opacity: .9;
  fill-opacity: 0.1;
  transition: .2s;
}
.active path, .button:active path {
  fill-opacity: .9;
  stroke-opacity: .9;
  transition: .2s;
}
